/*centering text into frame of screen*/
body {
    margin: 0 auto;
    max-width: 50em;
  }
/*change font family for asthetics*/
  body {
    font-family: "Helvetica", "Arial", sans-serif;
  }
/*adjust spacing increase appeal*/
  body {
    line-height: 1.5;
    padding: 4em 1em;
  }
  
  h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

  /*adjusting color and contrast makes the page more comfortable to look at*/
/*adjust text to an off white*/
  body {
    color: rgb(168, 165, 165);
  }

h1,
h2,
strong {
  color: rgb(146, 143, 143);
}
/*adjust background to black and balance the page*/
code,
pre {
  background: rgba(14, 12, 12, 0.63);
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

/*an accent color is used to emphasize particular aspects*/
a {
    color: #6036c2;
  }