/* CSS: Cascade Style Sheet */

/* all html content */
html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Montagu Slab', serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #000000dc;
  color: #ffffffdc;
}

/* heading one  */
h1 {
  font-size: 40px;
  text-align: center;

  /* postion & style of main page */
  margin: 0;
  padding: 20px 0;
  color: #f1f1f1;
  text-shadow: 2px 2px 1px #1facbe6e; /*dropped 1st and 2nd shadows to 2px for legibility*/
}

/* paragraph and list */
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: justify;
}
/* holds true to all contents inside the body */
body {
  width: 80%;
  margin: 0 auto;
  background-color: #1facbe6e;
  padding: 0 10px 10px 10px; 
  border: 5px solid black;
}

/* center image */
img {
  display: block;
  margin: 0 auto;
  width: 200px;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}
/* from next tutorial */
header {
  width: 100%;
  background-image: url(../jamos94.github.io/images/Banner.jpg);
  background-repeat: no-repeat;
  height: 380px;
  position: center; /*changed from relative*/
}

.center {
  margin: 0 auto;
}

figcaption {
  text-align: center;
}

nav {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
}

aside {
  background-color: aquamarine;
  width: 25%;
  padding: 10px;
  float: left;
}

main {
  margin-left: 27%;
  background-color: antiquewhite;
  padding: 10px;
}

footer {
  background-color: aquamarine;
  height: 30px;
  width: 100%;
  clear: both;
}